HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

.idea/workspace.xml
*.jar
target/maven-archiver/pom.properties
*.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
.idea/compiler.xml
